.container{
    margin-left: 20rem;
    padding: 0 2rem;
    background-color: rgba(225, 225, 225, 0.649);
}

.heading{
    padding: 1rem;
}

.discover{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem;
}

.active{
    margin-left:5rem;
}