.cross {
  cursor: pointer;
}

.sidebarContainer h2 {
  font-size: 1rem;
}

.sidebarContainer h3 {
  font-size: 0.9rem;
}

.active.sidebarContainer {
  /* transform: translateX(-16rem); */
  width: 5rem;
}

.active.sidebarContainer .sideItem{
    width:fit-content;
}

.active.sidebarContainer .flex{
    gap:0;
}

.active p, .active span, .active .bell, .active .hamburger {
    display: none;
}


.sidebarContainer {
  flex-direction: column;
  position: absolute;
  width: 20rem;
  font-weight: 400;
  gap: 0.1rem;
  padding-top: 1rem;
  transition: all 0.3s ease-in-out;
}

.itemContainer {
  border-left: 2px solid transparent;
  padding: 0 0.8rem;
}

.itemContainer.active2{
  border-left: 2px solid black;
}

.itemContainer:hover {
  border-left: 2px solid black;
}

.sideItem {
  border-radius: 6px;
  cursor: pointer;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
}

.sideItem:hover {
  background-color: #dff6ff;
}

.sideItem.active2 {
  background-color: #dff6ff;
}

.flex {
  display: flex;
}

.sidebarContainer .flex {
  gap: 1rem;
  align-items: center;
}

.sItem2 {
  justify-content: flex-start;
  gap: 1rem;
}

.sideBarNotification {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
  height: fit-content;
}

.active2 .sideBarNotification {
  background-color: rgb(74, 184, 252);
  color: #fff;
  width: 1.5rem;
  padding: 2px 5px;
  border-radius: 50px;
}

.profilePic {
  width: 2rem;
  border-radius: 50px;
}

.bell {
  height: 1rem;
  width: 1rem;
  fill: #fff;
  background-color: rgb(255, 98, 0);
  padding: 0.2rem;
  border-radius: 50%;
}

.customSvg {
  height: 1.5rem;
  width: 1.5rem;
}

.photo {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50px;
}

.hamburger {
  cursor: pointer;
  margin-left: auto;
}

